img.headimage {
    height: 105px;
    width: 105px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index:1;
    margin: auto;
    top:1em;
}
.tall-row{
    margin: 5px;
    background-color: lightgray;
}

.test {
    font-family: Anton, sans-serif;
    font-size: 28px;
    color: white;
    width: 150px;
    height: 150px;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid white;
}

.large-p {
    font-size: 40px;
    font-weight: lighter;
}

.nav-font {
    font-weight: lighter;
    font-size: 17px;
    margin: 3px;
}

h1.new-header{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h2.new-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside-bg {
    background-color: #f0f0f0;
    width: 85%;
}

body {

    margin-bottom: 10%;
    background-color: white;
    font-family: 'Abel', sans-serif;
    display: flex;
    justify-content: center;

}

h1{
    height: 64px;
    font-family: 'Anton', sans-serif;
}

h2{
    height: 48px;
    font-family: 'Anton', sans-serif;
}

h3{
    height: 40px;
    font-family: 'Anton', sans-serif;
}

h4{
    height: 32px;
    font-family: 'Anton', sans-serif;
}

h5{
    height: 28px;
    font-family: 'Anton', sans-serif;
}

p.foot {
    margin-top: 7em;
    display: flex;
    justify-content: center;
}


img.ipad {
    display: flex;
    justify-content: center;
    height: 70%;
    width: 70%;
    margin:auto;
    border: 10px solid #e6e6e6;
    border-radius: 7px;
}

.btn-circle {
    font-size: 12px;
    height: 18px;
    width: 18px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav{
    height: 30%;
}
.whitebackground {
    padding: 0px;
    height: 40px;
    background-color: white;
    z-index: -1;
}

.greybackground {
    padding: 0px;
    height: 60px;
    background-color: #f0f0f0;
    z-index: -1;
    position: relative;
}

/* for screens less than 576 pixels*/

@media screen and (max-width: 576px) {

    .hide-hr {
        display: none;
    }
    .hide-img {
        display: none;
    }
}
/* Small Screen Size ~~~~~~~~~~~~~~~~~ For screens over 576px */

hr{

}


.bg-info{
    height: 10%;
    width:100%;
    margin-bottom:20px;

}


@media screen and (min-width: 576px) {
    .small-h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    h1.new-header{
        margin-right: 7px;
    }

    .inline-img-nav {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    hr {
        width: 70%;
    }

    p.foot {
        margin-top: 2em;
        margin-bottom: 3em;
        display: flex;
        justify-content: center;

    }

    img.ipad {
        height: 150px;
        width: 250px;
    }



}
div.col {
    margin-top: 3px;
}

.small-icons{
}

.hide-ipad {
    display: none;
}







/* Medium Screen Size*/

@media screen and (min-width: 768px) {

}

/* Large - X large Screen Size*/

@media screen and (min-width: 992px) {

}

